/* MASTER CSS FILE  
 Made by Christoffer Älvenstrand, Mario Onekanda
 * */

a { text-decoration: none; color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

html, body {
	background: url(../img/bg2.png);
	font-family: arial, sans-serif, serif;
	font-size: 14px;
}

/* ==|== primary styles =========================================== */
   
.wrapper {
	background: #FFF;
	color: #FFF;
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid black;
}

.header {
	background-image: url(../img/header.png);
	height: 90px;
	padding: 5px;
}

.nav {
	background: #FFF;
	border-bottom: 1px solid black;
	height: 30px;
	padding-left: 5px;
	width: 975px;
}

.nav ul {
	margin: 0;
	padding: 0;
	display: block;
}

.nav li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav a {
	color: #000;
	float: left;
	margin: 0px 15px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.nav a:hover, active {
	color: #FFF;
	background: #000;
}

.clear {
	clear: both;
}


.categories h1 {
	color: #fff;
	padding: 20px 5px 10px 7px;	
}

.categories ul {
	padding: 0;
	display: block;
}	

.categories li {
	list-style: none;
}

.categories a {
	color: #fff;
	margin: 10px;
	padding: 0px;	
}
.categories a:hover {
	color: #FFF;
	text-decoration: underline	
}

.entries {
	border-right: 1px solid black;
	height: auto;
	margin-left: 5px;
	width: 700px;
}

.loggin {
	color: #000;
	height: 450px;
	width: 700px;
	margin-right: 0px;
}

.post-anonym {
	color: #000;
	height: 450px;
	width: 700px;
	margin-right: 0px;
}

article {
	background:#FFF;
	color: #000;
	height: auto;
	width: 650px;
}

.aside {
	background: #FFF;
	color: #000;
	float: right;
	height: 150px;
	width: 250px;
}

.footer {
	margin: 0 auto;
	width: 300px;
	color: #000;
	padding: 10px
}

footer p {
	text-align: center
}

label
{
width: 4em;
float: left;
text-align: right;
margin-right: 0.5em;
display: block
}

textarea 
{
border: 2px solid black
}

input.submit 
{
padding: .7em;
margin:10px 86px
}
.submit 
{
padding: .7em;
margin:10px 16px
}

.title {
margin:10px 106px
}
